{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>Busca treco</title>
  </head>
  <body>
    <div class="box">
      <h2>Buscador de ofertas</h2>
      <form action="/produto" method="post">
        <div class="jorginho">
          <input type="text" name="product" id="product" required />
          <label>Digite aqui o produto a ser buscado</label>
        </div>
        <button class="botao" type="submit">Buscar</button>
      </form>
    </div>
  </body>
</html>
{%endblock%}
